{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "printWidth": 80,
    "overrides": [
        {
            "files": "*.ts",
            "options": {
                "parser": "typescript",
                "singleQuote": true
            }
        }
    ]
}
